/*thomas thédié*/
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(to bottom right, #ff6f61, #de8e7e);
    
}

.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 500px; /* taille de la carte */
    height: 300px;
}

.card h1 {
    margin: 0;
    font-size: 24px;
 
}


.social-links {  /* permet de bien mettre les images*/
    display: flex;
    justify-content: center;
    
}



.social-links img {
    width: 80px; /* Taille des icônes */
    height: 50px; /* Taille des icônes */
    transition: transform 0.2s; /* Animation de survol */
}

.social-links img:hover {
    transform: scale(1.1); /* Zoom à l'hover */
}
button:hover{
   display: block;
    
}
button {
    background-color: #007bff; /* style du boution */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
   
    
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #0056b3;
}