/* thomas thédié */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #ff6f61, #de8e7e);
}

.form-container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Ajuster le padding pour une apparence plus compacte */
    width: 400px; /* Largeur du conteneur */
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 15px; /* Réduire la marge inférieure pour rapprocher le titre du formulaire */
}

table {
    width: 100%; /* Assurez-vous que le tableau prend toute la largeur */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="tel"],
input[type="date"],
select,
textarea {
    width: 95%; /* Largeur ajustée */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s;
}

input[type="submit"],
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px; /* Réduit le padding des boutons */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0056b3;
}

button a {
    color: white;
    text-decoration: none;
}
