body{ background-color: gray;
text-align: center;}

button{
    width: 300px;
height: 50px;
background-color: white;
border: 2px solid block;
font-size: 1.5em;
font-family: Verdana, Tahoma, sans-serif;
padding: 10px;
border-radius: 20px;

border-radius: 26px;}


input.t{ width: 300px;
height: 10px;
background-color: white;
border: 2px solid block;
font-size: 1.5em;
font-family: Verdana, Tahoma, sans-serif;
padding: 10px;
border-radius: 20px;
}

table{width: 300px;
height: 50px;
text-align: center;
border-radius: 24px;
background-color: blue;
}
