/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

body {
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    padding: 0 20px;
}

h1, h2 {
    color: #2c3e50;
}

header {
    background-color: #3498db;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #777;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

input[type="text"], input[type="password"], select {
    width: 20%;
    padding: 10px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus, select:focus {
    border-color: #3498db;
    outline: none;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#password-strength-bar, #strength-bar {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
    margin-top: 10px;
}

#password-strength-bar div, #strength-bar div {
    height: 100%;
    border-radius: 5px;
}

#password-message, #response-message {
    margin-top: 10px;
    font-weight: bold;
}

#password-message {
    color: #e74c3c;
}

#response-message {
    color: #2ecc71;
}

#generated-password {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 0 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    section {
        padding: 15px;
    }

    button {
        width: 100%;
        padding: 12px;
    }

    input[type="text"], input[type="password"], select {
        padding: 12px;
    }
}

