/* Styles globaux */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #b1f7e8; 
    text-align: center;
    padding: 30px;
   
}
/* j'aurais du mettre  des id ça aurais était plus simple pour le styles du texte  */
h1, h2 {
    font-weight: bolder;
    color: #314044;
}
h6{
    font-size:40px;
    color: #314044;
}
/* Container principal j'aurais peut être du directement utilisé le body cette div ne sert pas forcément */
.centered-container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* styles des divs je ne pense pas avoir d'autre chose as rajouté  */
.section {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.section p {
    font-size: 1.1em;
    color: #333;
}




/*obligatoire pour les reponses des heures ou en chiffre sinon ça me fessait un truc bizarre */
input[type="number"] {
    padding: 8px;
    font-size: 1em;
    width: 150px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* ces la façon que j'ais choisit d'afficher le code */
pre {
    background-color:gray;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
    font-size: 1em;
}
button {
    background-color: #28a745; /* Vert doux  peut être as rechanger avec le bleu*/
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1c7c32; /* Vert plus foncé au survol */
}
/* RESPONSIVITÉ as la base je voulais pas le faire mais je me suis rendu compte qu'il ce cassé en 500pxX500px donc j'ais rajouté*/

/* Pour les écrans de largeur inférieure à 768px */
@media (max-width: 768px) {
    .centered-container, button, input[type="number"] {
        width: 100%;
        padding: 12px 0;
    }
    button {
        font-size: 0.9em;
    }
    pre {
        font-size: 0.9em;
    }
}

/* Pour les écrans de largeur inférieure à 500px */
@media (max-width: 500px) {
    button {
        font-size: 0.8em;
    }
    pre {
        font-size: 0.8em;
    }
}
