* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #007bff, #6610f2);
    color: #fff;
}

.quiz-container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #6610f2;
}

#question {
    font-size: 20px;
    margin-bottom: 15px;
}

#answers button {
    padding: 10px;
    margin: 8px 0;
    width: 100%;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#answers button:hover {
    background-color: #0056b3;
}

#next-btn {
    display: none;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #6610f2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

#next-btn:hover {
    background-color: #4e0d8b;
}

#score {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
#access-game-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    display: none;
}